/* styles.module.css */

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Ambil seluruh lebar viewport */
    height: 100vh; /* Ambil seluruh tinggi viewport */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw; /* Ambil seluruh lebar layar */
    font-family: Arial, sans-serif;
    padding: 0; /* Hapus padding agar tidak ada jarak */
    margin: 0; /* Hapus margin agar tidak ada jarak */
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar total */
}

/* Menambahkan kelas lokal untuk selector h1 */
.container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Kontainer untuk tombol-tombol */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertikal memusatkan tombol */
    width: 100%; /* Ambil seluruh lebar layar */
    max-width: 1200px; /* Maksimum lebar kontainer */
    padding: 0 20px; /* Tambah padding agar tidak menempel di tepi layar */
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar total */
}

.startButton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: center; /* Pusatkan teks dalam tombol */
}

.startButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.startButton.center {
    flex: 0 1 30%; /* Lebar fleksibel untuk tombol tengah */
    max-width: 200px; /* Batasan maksimum lebar tombol */
}

.startButton.left {
    margin-right: auto; /* Dorong ke kiri */
}

.startButton.right {
    margin-left: auto; /* Dorong ke kanan */
}
