.container 
{
    margin: 0;
    padding: 20px;
    height: 100vh;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    font-family: Arial, sans-serif;
}

.logo 
{
    width: 130px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.header 
{
    margin-bottom: 20px;
    color: #333;
}

.title 
{
    margin-top: 60px;
    font-size: 24px;
    color: #040000;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    display: inline-block;
    width: 100%;
}

.options 
{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.option 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.option .image 
{
    width: 150px;
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}

.option .btn 
{
    background-color: #00aaff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.option .btn:hover 
{
    background-color: #0088cc;
}
