.container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    font-family: Arial, sans-serif;
}

.heading 
{
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 2rem;
    color: white;
}

.description 
{
    position: absolute;
    top: 100px;
    left: 10px;
    font-size: 1rem;
    color: white;
    max-width: 300px; 
    line-height: 1.5; 
    text-align: justify; 
    padding: 10px; 
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px; 
}

.form-wrapper 
{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;
    max-width: 800px; 
}

.form 
{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.formGroup 
{
    margin-bottom: 1px;
}

.formGroup label 
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroup input 
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitButton 
{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.submitButton:hover 
{
    background-color: #0056b3;
}

.result 
{
    background-color: #ffffff; /* Set background to white */
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
    margin: 20px auto; 
    text-align: left; 
}

.result h2 
{
    margin-top: 0; 
}

.result img 
{
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
    margin-top: 10px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.backButton 
{
    position: absolute; 
    top: 20px; 
    right: 20px; 
    background-color: #f1f2f4;
    color: rgb(0, 0, 0); 
    padding: 10px 20px;
    border-radius: 4px; 
    text-decoration: none; 
    font-size: 1rem; 
    z-index: 10; 
}

.backButton:hover 
{
    background-color: #0056b3; 
}

/* untuk layar pengguna */
@media (max-width: 768px) {
    .container 
    {
        padding: 10px;
    }

    .form-wrapper
    {
        flex-direction: column; 
    }

    .result 
    {
        margin-left: 0; 
        margin-top: 20px; 
        max-width: 100%; 
        padding: 10px; 
    }

    .backButton 
    {
        top: 10px; 
        right: 10px; 
    }
}

@media (max-width: 480px) 
{
    .container 
    {
        padding: 5px;
    }

    .form 
    {
        padding: 15px;
    }

    .submitButton 
    {
        font-size: 0.9rem;
    }

    .result {
        padding: 8px; 
    }

    .backButton 
    {
        top: 5px; 
        right: 5px;
        padding: 8px 15px; 
        font-size: 0.9rem; 
    }
}
